<!DOCTYPE html>
<html lang="es">
<%- include("partials/head") %> 
<body style="background: <%- color ? color : "radial-gradient(circle, rgba(130,168,255,1) 3%, rgba(130,93,209,1) 100%, rgba(171,159,229,1) 100%);" %>">
    <div class="thanks">
        <h1>¡Gracias por visitarnos <%= user.name %>!</h1><span style='font-size:2rem;'>&#128516;</span>
        <a href="/">Volver</a>
    </div>
</body>
</html>